body{
	background-image: url("Chicago Skyline.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.one{
	height: 60px;
}


.carousel-inner{
	height: 100%;
	width: 100%;
}

.about{
	background-color: rgb(255,255,255);
	border-style: groove;
	border-color: red;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

